.facebook-card {
    max-width: 500px;
    margin: 20px auto;
    border-radius: 10px;
    background-color: rgb(37 39 40) !important;

    color: white;

    .card-header {
        background-color: rgb(37 39 40);

        border-bottom: none;
        color: white;
    }

    .card-body {
        .likes-wrapper {

            color: white;
        }

        .comment-and-share {
            color: white;
        }
    }

    .page-logo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .card-img-wrapper {
        position: relative;
    }

    .card-img-wrapper {}

    .card-img-top {
        width: 100%;
        
        & img { 
            object-fit: cover;
            max-height: 585px;
            min-height: 585px;
            object-fit: contain;
            width: 100%;
            object-position: center;
        }

    }

    .overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 20px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
        color: white;
    }

    .breaking-banner {
        background-color: green;
        color: white;
        display: inline-block;
        font-weight: bold;
        padding: 5px 10px;
        margin-bottom: 10px;
        font-size: 18px;
    }

    .headline {
        font-size: 16px;
        font-weight: 500;
    }

    .card-footer {
        border-top: 1px solid rgb(156, 156, 156);
    }

    .card-footer button {
        width: 100%;
        background: none;
        border: none;
        color: white !important;
    }
}

.facebook-card {
    .carousel {
        .carousel-indicators {
            // margin-bottom: 0;
        }
    }
}

.carousel-indicators [data-bs-target] {
}

.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    width: 6px !important;
    height: 6px !important;

}