.post-preview-carousel {
  .carousel-control-next {
    height: 80%;
    margin-top: 10%;
  }
  .carousel-control-prev {
    height: 80%;
    margin-top: 10%;
  }
}

.tag-div {
  position: relative;
  .tag-content-div {
    background-color: #585cd1;
    color: white;
    padding: 8px 36px 8px 12px;
    border-radius: 5px;
  }
  .badge-wrapper {
    margin-top: 10px !important;
    word-break: break-word;
  }
  .remove-tag-btn {
    position: absolute;
    top: 15px;
    right: 3px;
    padding: 0px 3px 3px 4px;
    border-radius: 50%;
    height: 26px;
    width: 26px;
  }
}

.create-post-modal-main-wrapper {
  .modal-dialog {
    .modal-header {
      border-color: rgb(105, 105, 105) !important;
    }
    .modal-content {
      background-color: #212328 !important;
      color: white;
      & input {
        background-color: rgb(59 59 59) !important;
        border: none;
        color: white;
      }
      & textarea {
        background-color: rgb(59 59 59) !important;
        border: none;
        color: white;
      }
      & button {
        background-color: rgb(59 59 59) !important;
        border-color: rgb(153, 153, 153) !important;
      }
    }
    .modal-footer {
      border-color: rgb(105, 105, 105) !important;
    }
  }
}

input[type="file"]::file-selector-button {
  background-color: rgb(105, 105, 105);
  color: white;
  border: rgb(105, 105, 105);
}

input[type="file"]:hover {
  &::file-selector-button {
    background-color: rgb(122, 122, 122) !important;
  }
}
