@use '../variables' as *;

.header-main-wrapper {
    background-color: #282828;
    padding: 13px 0;

    .container {
        max-width: var(--Container1200);
        margin: 0 auto;

        .container-inner-wrapper {
            .logo-wrapper {
                max-width: 200px;

                & img {
                    width: 200px;
                }
            }

            .icon-wrapper {
                .icon-name {
                    font-family: var(--inter);
                    font-size: 14px;
                    line-height: 25px;
                }
            }

            .right-content-wrapper {
                .search-bar-main-wrapper {
                    max-width: 200px;

                    .search-wrapper {
                        position: relative;

                        .icon-wrapper {
                            width: 24px;
                            height: 24px;
                            position: absolute;
                            top: 6px;
                            left: 5px;

                            & img {
                                width: 100%;
                            }
                        }

                        & input {
                            background-color: var(--LightBlackBgClr2);
                            border: none;
                            border-radius: 5px;
                            padding: 8.5px 7px 8.5px 32px;
                            color: var(--WhiteClr);
                            width: 100%;
                            font-size: 14px;
                        }
                    }
                }

                .notification-main-wrapper {
                    background: var(--LightBlackBgClr2);
                    padding: 8px 15px;
                            border-radius: 5px;
                    
                }
            }
        }
    }
}